In [2]:
import pandas as pd
a=pd.Series([1,2,3,4])
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
import numpy as np
a1=pd.Series([1,2,3,np.nan])
print(a1)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [11]:
dates=pd.date_range('20190601',periods=25)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20',
               '2019-06-21', '2019-06-22', '2019-06-23', '2019-06-24',
               '2019-06-25'],
              dtype='datetime64[ns]', freq='D')

In [25]:
a2=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20190601'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(["test","train","test","train"]),
                 'F':"foo"})
print(a2)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

# TURTLE

In [ ]:
#step 1:Make all the turtle package to be imported
import turtle as tt
#Turtle methd creates and returns the new object
a1=tt.Turtle()
#forward()method moves 100 pixels
tt.forward(300)

tt.done()